<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>Top</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="{{ url_for('static', filename='osm4sq.js') }}"></script>
</head>
<body onload="init()">
<div class="header">
  <h1>OSM4SQ</h1>
  {% if session.is_login %}
    <img src="{{ session.user.photo }}">
    {{ session.user.name }} さん
    <a href="{{ url_for('logout') }}">ログアウト</a>
  {% else %}
    <a href="{{ url_for('login') }}">ログイン</a>
  {% endif %}
</div>
<div id="canvas" style="width:900px; height:600px"></div>
<div id="checkins"></div>
</body>
</html>
